# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache
package-lock.json
package-lock.json
.env
mtg.json
src/Components/Example.js
public/svg/{0}.svg
public/svg/{10}.svg
public/svg/{11}.svg
public/svg/{12}.svg
public/svg/{13}.svg
public/svg/{14}.svg
public/svg/{15}.svg
public/svg/{16}.svg
public/svg/{17}.svg
public/svg/{18}.svg
public/svg/{19}.svg
public/svg/{1}.svg
public/svg/{20}.svg
public/svg/{2_B}.svg
public/svg/{2_G}.svg
public/svg/{2_R}.svg
public/svg/{2_U}.svg
public/svg/{2_W}.svg
public/svg/{2}.svg
public/svg/{3}.svg
public/svg/{4}.svg
public/svg/{5}.svg
public/svg/{6}.svg
public/svg/{7}.svg
public/svg/{8}.svg
public/svg/{9}.svg
public/svg/{B_G}.svg
public/svg/{B_P}.svg
public/svg/{B_R}.svg
public/svg/{B}.svg
public/svg/{C}.svg
public/svg/{G_P}.svg
public/svg/{G_U}.svg
public/svg/{G_W}.svg
public/svg/{G}.svg
public/svg/{P}.svg
public/svg/{Q}.svg
public/svg/{R_G}.svg
public/svg/{R_P}.svg
public/svg/{R_W}.svg
public/svg/{R}.svg
public/svg/{S}.svg
public/svg/{T}.svg
public/svg/{U_B}.svg
public/svg/{U_P}.svg
public/svg/{U_R}.svg
public/svg/{U}.svg
public/svg/{W_B}.svg
public/svg/{W_P}.svg
public/svg/{W_U}.svg
public/svg/{W}.svg
public/svg/{X}.svg
public/svg/{Z}.svg
