* {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Sorts Mill Goudy', serif; */
    font-weight: 400;
}

.card {
    border: none;
    border-radius: 13px;
    overflow: hidden;
    transition: 0.2s;
}

.card:hover {
    box-shadow: 2px 4px 10px rgba(0,0,0,0.75);
}

.card .card-body {
    position: absolute;
    width: 100%;
    height: 100%;

    opacity: 0;
    transition: 0.2s;
    background-color: white;

    box-shadow: inset 0 0 0 15px #000100;
}

.card:hover .card-body {
    opacity: 1;
}

.card .card-body .mtgIcon {
    width: 18px;
    height: 18px;

    border: 1px solid #000;
    border-radius: 100%;
}


.card .card-body .card-title {
    padding-top: 2px;
    padding: 0 0 2px 4px;
    border: 2px solid #5d5b5b;
    border-radius: 0.5em;
    box-shadow: 0 0 0px 2px #baaca0;

    background-color: #d4cecc;
    color: #1b1615;
    font-weight: bold;
    line-height: normal;
}